[submodule "Externals/ExampleZoneFiles"]
	path = Externals/ExampleZoneFiles
	url = git://github.com/craigw/dns-zonefile.git
[submodule "Externals/CoreNetworking"]
	path = Externals/CoreNetworking
	url = git@github.com:keithduncan/CoreNetworking.git
