[submodule "Externals/ExampleZoneFiles"]
	path = Externals/ExampleZoneFiles
	url = https://github.com/craigw/dns-zonefile.git
[submodule "Externals/CoreNetworking"]
	path = Externals/CoreNetworking
	url = https://github.com/keithduncan/CoreNetworking.git
